# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
venv/
*.egg-info/

# Dataset (if large)
*.csv
*.xlsx

# System files
.DS_Store
Thumbs.db
